* {
    color: #0d0a0b;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-decoration: none;
}

body{
    background-image: url('./14710.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    align-self: center;
    background-color: white;
    border: 5px solid #90c2e7;
    border-radius: 8px;
    padding: 24px;
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
}

#info {
    background-color: #ccd5ae;
    border: 1px solid black;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
}

#pet_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

#info_section {
    margin-top: 16px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#image_container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#image_container img {
    width: 100%;
    object-fit: cover;

}

#pet_data_section {
    width: 50%;
    text-align: start;
}