*{
    margin: 0;
    color: #d4a373;
}

body{
    background-color: #fefae0;
    margin: 0 auto;
    padding: 0 auto;
}

header{
    background-color: #faedcd;
    padding: 24px 16px;
    border-bottom: 4px solid #ccd5ae;
}

.floating{
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 40px;
    bottom: 40px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ccd5ae;
}

.floating a{
    text-decoration: none;
}

.button{
    color: black;
    text-align: center;
    font-size: 24px;
}

.card{
    background-color: #ccd5ae;
    border-radius: 8px;
    border: 1px solid black;
    width: 90px;
    height: 150px;
    padding: 16px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon{
    width: 128px;
}

section{
    padding: 24px;
}

#form-container{
    background-color: #faedcd;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px 64px;
}

#form-container button{
    padding: 4px;
    background-color: #ccd5ae;
    border-radius: 8px;
}

.add_pet{
    display: flex;
    justify-content: center;
}

#pet_list{
    display: flex;
}

.inputs{
    margin: 12px 0px;
}

.inputs p{
    margin-bottom: 8px;
}

.choice{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    scroll-behavior: smooth;
}

.race{
    justify-content: space-around;
}

.gender{
    justify-content: space-around;
}

.box{
    margin: 0 8px;
}

.box img{
    height: 48px;
    width: 48px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid black;
  }